.solution-1 {
  .media {
    margin: auto 20px;
  }
}

.solution-2 {
  .square {
    margin: 20px auto;
  }
}

.solution-3 {
  .item-one { order: 1; }
  .item-two { order: 2; }
  .item-three { order: 3; }
}
