<div class="flex-container solution-3 text-center">
  <div class="flex-1 item-two">
    <p>
      two
    </p>
  </div>
  <div class="flex-1 item-three">
    <p>
      three
    </p>
  </div>
  <div class="flex-1 item-one">
    <p>
      one
    </p>
  </div>
</div>
