<div class="flex-container solution-2">
  <div class="flex-1">
    {{> "square"}}
  </div>
  <div class="flex-2">
    {{> "square"}}
  </div>
  <div class="flex-1">
    {{> "square"}}
  </div>
</div>
