<div class="scenario-3">
  <h1>Scenario 3</h1>
  <p>Re-order the items without touching the HTML.</p>

  <h2>Example</h2>
  {{> "solution-3"}}

  <h2>Result</h2>
  <div class="flex-container text-center">
    <div class="flex-1 item-two">
      <p>
        two
      </p>
    </div>
    <div class="flex-1 item-three">
      <p>
        three
      </p>
    </div>
    <div class="flex-1 item-one">
      <p>
        one
      </p>
    </div>
  </div>
</div>
