<div class="scenario-2">
  <h1>Scenario 2</h1>
  <p>Part 1: Create a 1-2-1 (4 column) layout. Center the content.</p>
  <p>
    Part 2: vertically stack your content.
  </p>

  <h2>Example</h2>
  {{> "solution-2"}}

  <h2>Result</h2>
  {{!-- Code here --}}
</div>
